In [56]:
import pandas as pd

In [57]:
PATH = 'C:\\Users\\Fryd Nawil\\Desktop\\Cours 4\\Big Data and Predictive Analytics\\Ü1\\data_customers_shopping.csv'  # Passen Sie den Pfad ggf. an

raw_data = pd.read_csv(PATH,
                       sep=',',
                       encoding='utf-8',
                       header=0)

raw_data_copy = raw_data.copy()

In [58]:
df = pd.read_csv(PATH,
                       sep=',',
                       encoding='utf-8',
                       header=0)
print(df.shape)

(1286, 18)

In [59]:
#map_old_new_column_names = {"CustomerID": "customerID",
 #                           "Age": "age",
  #                          "Gender": "gender",
   #                         "ItemPurchased": "item_purchased",
    #                        "Category": "category",
     #                       "PurchaseAmountUSD": "purchase_amountUSD",
      #                      "Location": "location",
       #                     "Size": "size",
          #                  "Color": "color",
        ##                    "Season": "season",
          #                  "ReviewRating": "review_rating",
           #                 "SubscriptionStatus": "subscription_status",
            #                "ShippingType": "shipping_type",
             #               "DiscountApplied": "discount_applied",
             #               "PromoCodeUsed": "promo_code_used",
              #              "PreviousPurchases": "previous_purchases",
               #             "PaymentMethod": "payment_method",
                #            "FrequencyofPurchases": "frequency_of_purchases"
                 #           }

# print(map_old_new_column_names)

# raw_data.rename(columns=map_old_new_column_names, inplace=True)
# raw_data.columns

In [60]:

# Alle Spalten-Strings in Kleinbuchstaben umwandeln
# raw_data["gender"] = raw_data["gender"].str.lower()
# raw_data["item_purchased"] = raw_data["item_purchased"].str.lower()
# raw_data["category"] = raw_data["category"].str.lower()
# raw_data["location"] = raw_data["location"].str.lower()
# raw_data["color"] = raw_data["color"].str.lower()
# raw_data["season"] = raw_data["season"].str.lower()
# raw_data["subscription_status"] = raw_data["subscription_status"].str.lower()
# raw_data["shipping_type"] = raw_data["shipping_type"].str.lower()
# raw_data["discount_applied"] = raw_data["discount_applied"].str.lower()
# raw_data["promo_code_used"] = raw_data["promo_code_used"].str.lower()
# raw_data["payment_method"] = raw_data["payment_method"].str.lower()
# raw_data["frequency_of_purchases"] = raw_data["frequency_of_purchases"].str.lower()

In [61]:
# Wertebereiche für float und int sind hier zu finden: https://clickhouse.com/docs/en/sql-reference/data-types/int-uint
raw_data = raw_data.astype({"CustomerID": "Float32",
                            "Age": "Int64",
                            "Gender": "category",
                            "ItemPurchased": "category",
                            "Category": "category",
                            "PurchaseAmountUSD": "Float32",
                            "Location": "category",
                            "Size": "category",
                            "Color": "category",
                            "Season": "category",
                            "ReviewRating": "float64",
                            "SubscriptionStatus": "category",
                            "ShippingType": "category",
                            "DiscountApplied": "category",
                            "PromoCodeUsed": "category",
                            "PreviousPurchases": "Int16",
                            "PaymentMethod": "category",
                            "FrequencyofPurchases": "category"})

In [62]:
raw_data.dtypes

CustomerID               Float32
Age                        Int64
Gender                  category
ItemPurchased           category
Category                category
PurchaseAmountUSD        Float32
Location                category
Size                    category
Color                   category
Season                  category
ReviewRating             float64
SubscriptionStatus      category
ShippingType            category
DiscountApplied         category
PromoCodeUsed           category
PreviousPurchases          Int16
PaymentMethod           category
FrequencyofPurchases    category
dtype: object

## **Bereinigung des Datensatzes (fehlende Werte)**

In [63]:
raw_data.isnull().sum()

CustomerID              5
Age                     0
Gender                  0
ItemPurchased           0
Category                0
PurchaseAmountUSD       5
Location                7
Size                    0
Color                   0
Season                  0
ReviewRating            0
SubscriptionStatus      0
ShippingType            0
DiscountApplied         0
PromoCodeUsed           0
PreviousPurchases       0
PaymentMethod           0
FrequencyofPurchases    0
dtype: int64

In [64]:
raw_data.head(2)

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
0,1.0,55,Male,Blouse,Clothing,53.0,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2.0,19,Male,Sweater,Clothing,64.0,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly

# **Bereinigung des Datensatzes**

## **fehlerhafte Werte der Spalte PurchaseAmountUSD**

In [65]:
PurchaseAmountUSD_median = df["PurchaseAmountUSD"].median()

# Ersetzen der fehlenden Werte von PurchaseAmountUSD durch den Median
raw_data['PurchaseAmountUSD'] = raw_data['PurchaseAmountUSD'].fillna(PurchaseAmountUSD_median)

# Anzeigen des neuen DataFrame mit den ersetzten fehlenden Werten
raw_data.iloc[100:106]

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
100,297.0,25,Male,Sandals,Footwear,74.0,Indiana,S,Lavender,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,19,Credit Card,Weekly
101,300.0,25,Male,Sneakers,Footwear,80.0,Pennsylvania,M,Maroon,Summer,3.2,Yes,Next Day Air,Yes,Yes,28,PayPal,Fortnightly
102,301.0,29,Male,Hat,Accessories,98.0,Iowa,M,Teal,Spring,4.4,Yes,Store Pickup,Yes,Yes,24,PayPal,Weekly
103,303.0,37,Male,Sweater,Clothing,59.0,Delaware,L,Olive,Summer,3.6,Yes,Express,Yes,Yes,27,Bank Transfer,Every 3 Months
104,304.0,20,Male,Sandals,Footwear,60.0,Oregon,M,Turquoise,Summer,3.3,Yes,Next Day Air,Yes,Yes,49,Venmo,Weekly
105,313.0,38,Male,Pants,Clothing,89.0,Massachusetts,L,Green,Spring,3.4,Yes,Next Day Air,Yes,Yes,6,PayPal,Annually

##  **fehlerhafte Werte der Spalte Location**

In [66]:
häufigster_wert = df["Location"].mode()[0]
# Ersetzen der fehlenden Werte von Location durch den häufigster_wert
raw_data['Location'] = raw_data['Location'].fillna(häufigster_wert)
raw_data.loc[214:218]

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
214,647.0,51,Male,Boots,Footwear,54.0,Indiana,XL,Pink,Spring,4.9,Yes,Standard,Yes,Yes,19,Venmo,Bi-Weekly
215,650.0,53,Male,Pants,Clothing,93.0,Delaware,L,Orange,Spring,4.2,Yes,Store Pickup,Yes,Yes,33,PayPal,Every 3 Months
216,653.0,64,Male,Sunglasses,Accessories,27.0,Alabama,M,Beige,Winter,3.1,Yes,Free Shipping,Yes,Yes,27,Venmo,Weekly
217,654.0,20,Male,Scarf,Accessories,68.0,North Dakota,M,Olive,Winter,3.6,Yes,2-Day Shipping,Yes,Yes,45,Cash,Fortnightly
218,660.0,62,Male,Shorts,Clothing,52.0,Virginia,S,Gold,Spring,3.6,Yes,2-Day Shipping,Yes,Yes,8,Cash,Weekly

## **Prüfe und Bereinigung der Spalte Alter**

In [67]:
# Prüfe das Alter auf valide Werte
alter = "Age"

if raw_data[alter].dropna().between(1, 100).all():
    print(f"Info: Alles in Ordnung für '{alter}'")
else:
      print(f"Warnung: Ungültige Werte für '{alter}' gefunden")

Warnung: Ungültige Werte für 'Age' gefunden

In [68]:
# Wählen Sie die Werte aus der Spalte 'Age' aus, die nicht position sind
invalid_values = raw_data[(raw_data[alter].isnull()) | (~raw_data[alter].between(1, 100))][alter]

# Anzeigen der ungültigen Werte
print("Ungültige Werte für 'Age':")
print(invalid_values)

Ungültige Werte für 'Age':
45      -57
258     -23
321     -43
345     -18
637     -65
734     -58
837     -60
946     -56
1164    -50
1251    -40
Name: Age, dtype: Int64

In [69]:
# fehlerhafte Werte das Alter bereinigen
raw_data["Age"].replace({-57: 57, -23: 23, -43: 43, -18: 18, -65: 65, -58: 58, -60: 60, -56: 56, -50: 50, -40: 40}, inplace=True)
# Prüfe das Alter auf valide Werte
if raw_data[alter].dropna().between(1, 100).all():
    print(f"Info: Alles in Ordnung für '{alter}'")
else:
      print(f"Warnung: Ungültige Werte für '{alter}' gefunden")

Info: Alles in Ordnung für 'Age'

## **Prüfe und Bereinigung der Spalte purchase_amountUSD**

In [70]:
# Prüfe das amount auf valide Werte
amount = "PurchaseAmountUSD"

if raw_data[amount].dropna().between(1, 500).all():
    print(f"Info: Alles in Ordnung für '{amount}'")
else:
      print(f"Warnung: Ungültige Werte für '{amount}' gefunden")

Warnung: Ungültige Werte für 'PurchaseAmountUSD' gefunden

In [71]:
# Wählen Sie die Werte aus der Spalte 'PurchaseAmountUSD' aus, die nicht zwischen 1 und 1500 liegen
invalid_values = raw_data[(raw_data[amount].isnull()) | (~raw_data[amount].between(1, 1500))][amount]

# Anzeigen der ungültigen Werte
print("Ungültige Werte für 'PurchaseAmountUSD':")
print(invalid_values)

Ungültige Werte für 'PurchaseAmountUSD':
22     -821.0
53     -761.0
319    -334.0
401    -401.0
816    -163.0
842    -993.0
866    -174.0
904    -830.0
905    -511.0
1096   -916.0
1244   -751.0
1269   -104.0
Name: PurchaseAmountUSD, dtype: Float32

In [72]:
# fehlerhafte Werte das Alter bereinigen
raw_data["PurchaseAmountUSD"].replace({-821: 821, -761: 761, -334: 334, -401: 401, -163: 163, -993: 993, -174: 174, -830: 830, -511: 511,
                          -916: 916,  -751: 751, -104: 104}, inplace=True)
# Prüfe das Alter auf valide Werte
if raw_data[amount].dropna().between(1, 1000).all():
    print(f"Info: Alles in Ordnung für '{amount}'")
else:
      print(f"Warnung: Ungültige Werte für '{amount}' gefunden")

Info: Alles in Ordnung für 'PurchaseAmountUSD'

## **Prüfe und Bereinigung der Spalte ReviewRating**

In [73]:
# Prüfe das ReviewRating auf valide Werte
Bewertung = "ReviewRating"

if raw_data[Bewertung].dropna().between(0, 5).all():
    print(f"Info: Alles in Ordnung für '{Bewertung}'")
else:
      print(f"Warnung: Ungültige Werte für '{Bewertung}' gefunden")

Warnung: Ungültige Werte für 'ReviewRating' gefunden

In [74]:
# Wählen Sie die Werte aus der Spalte 'ReviewRating' aus, die nicht zwischen 1 und 500 liegen
invalid_values = raw_data[(raw_data[Bewertung].isnull()) | (~raw_data[Bewertung].between(1, 500))][Bewertung]

# Anzeigen der ungültigen Werte
print("Ungültige Werte für 'ReviewRating':")
print(invalid_values)

Ungültige Werte für 'ReviewRating':
38     -3.0
86     -3.0
320    -3.0
331    -3.0
363    -3.0
486    -3.0
1042   -3.0
Name: ReviewRating, dtype: float64

In [75]:
# fehlerhafte Werte für das ReviewRating bereinigen
raw_data["ReviewRating"].replace(-3, 3, inplace=True)
# Prüfe das Alter auf valide Werte
if raw_data[Bewertung].dropna().between(1, 5).all():
    print(f"Info: Alles in Ordnung für '{Bewertung}'")
else:
      print(f"Warnung: Ungültige Werte für '{Bewertung}' gefunden")

Info: Alles in Ordnung für 'ReviewRating'

# **a supprimer**

In [79]:
# Utiliser ffill() directement pour remplir les valeurs NaN

df['CustomerID'].interpolate(method='linear', inplace=True)

In [80]:
raw_data[raw_data["CustomerID"].isna()]

,CustomerID,Age,Gender,ItemPurchased,Category,PurchaseAmountUSD,Location,Size,Color,Season,ReviewRating,SubscriptionStatus,ShippingType,DiscountApplied,PromoCodeUsed,PreviousPurchases,PaymentMethod,FrequencyofPurchases
517,<NA>,25,Male,Boots,Footwear,77.0,Oklahoma,M,Purple,Fall,4.0,No,Express,Yes,Yes,21,Bank Transfer,Weekly
767,<NA>,30,Male,Gloves,Accessories,68.0,Virginia,M,Cyan,Spring,4.6,No,Standard,No,No,15,PayPal,Monthly
866,<NA>,57,Male,Sunglasses,Accessories,174.0,Wisconsin,L,Maroon,Fall,4.4,No,Free Shipping,No,No,19,Debit Card,Weekly
974,<NA>,20,Female,Handbag,Accessories,24.0,Wisconsin,M,Cyan,Fall,4.6,No,Standard,No,No,11,Cash,Fortnightly
1146,<NA>,44,Female,Jeans,Clothing,73.0,Michigan,L,Olive,Spring,4.5,No,Standard,No,No,34,Credit Card,Every 3 Months

In [ ]:

raw_data.loc[516:518]

,customerID,age,gender,item_purchased,category,purchase_amountUSD,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases
516,1586.0,37,male,sweater,clothing,25.0,alabama,M,charcoal,fall,3.0,no,next day air,yes,yes,40,debit card,fortnightly
517,<NA>,25,male,boots,footwear,77.0,oklahoma,M,purple,fall,4.0,no,express,yes,yes,21,bank transfer,weekly
518,1588.0,41,male,socks,clothing,99.0,alabama,M,beige,summer,3.5,no,free shipping,yes,yes,33,credit card,fortnightly